<div class="ransack-advanced-search">

  <div class="row">
    <div class="col-md-12">
      <%= search_form_for(@ransack_object, url: search_url, html: { method: :post, class: 'form-inline ransack-form', role: 'form', data: {rap_model: @rap_model_name, rap_attributes: @rap_attributes.join(','), rap_associations: @rap_associations.join(',')}}) do |frm| %>

        <div class="form-group">
          <%= label_tag 'Descrição da Busca (necessária para salvar a busca)' %>
          <%= text_field_tag :description, @saved_search.try(:description), class: 'form-control input-sm' %>
          <% if @saved_search %>
              <%= hidden_field_tag :saved_search, @saved_search.id %>
              <%= hidden_field_tag :use_search_params, true %>
          <% end %>
        </div>

        <h4><%= t('ransack.advanced_search.condition_group.title') %></h4>
        <div class="form-group">
          <%= frm.grouping_fields do |g| %>
              <%= render partial: 'ransack_advanced_plus/grouping_fields', locals: {frm: g} %>
          <% end %>
          <a href="" data-rap-type="grouping" class="ransack_advanced_plus_add_button">Adicionar Grupo</a>
        </div>

        <!-- <%= label_tag :distinct, 'Return distinct records?' %> -->
        <!-- <%= check_box_tag :distinct, '1', params[:distinct].to_i == 1 %> -->
        <div class="clearfix"></div>
        <div class="ransack-action-buttons">
          <%= frm.submit t('ransack.advanced_search.form.submit_text'), class: 'btn btn-primary' %>
          <%= frm.submit t('ransack.advanced_search.form.save_submit_text'), name: 'save_search', class: 'btn btn-primary' %>
          <%= frm.submit t('ransack.advanced_search.form.save_new_submit_text'), name: 'save_new_search', class: 'btn btn-primary' %>
          <%= link_to t('ransack.advanced_search.form.clear_search_text'), redirect_path, class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>