<%= content_tag :div, { class: 'fields', 'data-object-name' => frm.object_name } do %>

    <% remove_able = true if local_assigns[:remove_able].nil? %>
    <% if remove_able == false %>
        <%= content_tag(:span, "#{t('ransack.advanced_search.condition_group.match')}
        #{frm.combinator_select({}, {class: 'form-control input-sm'})}
        #{t('ransack.advanced_search.condition_group.match_condition')}", nil, false) %>
    <% else %>
        <%= content_tag(:span, "#{t('ransack.advanced_search.condition_group.match')}
        #{frm.combinator_select({}, {class: 'form-control input-sm'})} #{t('ransack.advanced_search.condition_group.match_condition')}
        #{button_to_remove_fields}", nil, false) %>
    <% end %>

    <% if frm.condition_fields.empty? %>
        <%= frm.send("condition_fields", frm.object.send("build_condition"), child_index: "new_condition") do |b| %>
            <%= render partial: 'ransack_advanced_plus/condition_fields', locals: {frm: b} %>
        <% end %>
    <% else %>
      <%= frm.condition_fields do |c| %>
          <%= render partial: 'ransack_advanced_plus/condition_fields', locals: {frm: c} %>
      <% end %>
    <% end %>

    <a href="" data-model-name="cliente_servico" data-model-type="condition" class="ransack_advanced_plus_add_button">Adicionar Condição</a>

    <%= frm.grouping_fields do |g| %>
        <%= render partial: 'ransack_advanced_plus/grouping_fields', locals: { frm: g, remove_able: true } %>
    <% end %>

<% end %>
